#!/bin/bash
# {{ .CreationWarning }}
# {{ .CreationInfo }}
{{ if not .Json.meta.name }}
# No name

{{ else }}
DIR="build"

if [ -d "${DIR}" ]
then
	echo "Gearbox: Build directory already exists."
	exit 1
fi

################################################################################
# Maybe we have rsync, maybe we don't.
mkdir "${DIR}"

RSYNC="$(which rsync)"
if [ "${RSYNC}" != "" ]
then
	rsync -HvaxP TEMPLATE/build/ "${DIR}/" >/dev/null
else
	tar cf - -C TEMPLATE/build . | tar xvf - -C "${DIR}"
fi

################################################################################
#if [ -f "{{ .JsonFile.Dir }}/{{ .JsonFile.Name }}" ]
#then
#	if [ "${GB_REF}" == "base" ]
#	then
#		cp "{{ .JsonFile.Dir }}/{{ .JsonFile.Name }}" "${DIR}/{{ .Json.meta.name }}.json"
#	else
#		cp "{{ .JsonFile.Dir }}/{{ .JsonFile.Name }}" "${DIR}/gearbox-{{ .Json.meta.name }}.json"
#	fi
#	cp "{{ .JsonFile.Dir }}/{{ .JsonFile.Name }}" "${DIR}/gearbox.json"
#fi

################################################################################
TMPLDIRS="$(find ${DIR}/ -name '*JSON_NAME*')"
for dir in ${TMPLDIRS}
do
	NEWDIR="$(echo -n "${dir}" | sed 's/JSON_NAME/{{ .Json.meta.name }}/')"
	mv -i "${dir}" "${NEWDIR}"
done

################################################################################
TMPLFILES="$(find ${DIR}/ -name '*\.tmpl')"
for file in ${TMPLFILES}
do
	OUTFILE="$(echo -n "${file}" | sed 's/JSON_NAME/{{ .Json.meta.name }}/')"
	if [ "${file}" != "${OUTFILE}" ]
	then
		mv -i "${file}" "${OUTFILE}"
	fi

	echo "Gearbox: Processing ${OUTFILE}"
	{{ .Exec.CmdName }} scribe convert "{{ .JsonFile.Dir }}/{{ .JsonFile.Name }}" "${OUTFILE}"
done

find ${DIR}/services -type f | xargs chmod 755
find ${DIR}/ -name '*\.sh' | xargs chmod 755

{{ end }}
# END
