#!/bin/bash
# {{ .CreationWarning }}
# {{ .CreationInfo }}
{{ $version := FindInMap .Json.versions .Env.GB_VERSION }}
{{ if not $version }}
# No version found in gearbox.json

{{ else if not .Json.meta.name }}
# No name found in gearbox.json

{{ else }}
VERSION="{{ .Env.GB_VERSION }}"
export VERSION

GB_VERDIR="versions/{{ .Env.GB_VERSION }}"
export GB_VERDIR

if [ -d "${GB_VERDIR}" ]
then
	echo "Gearbox: Release version directory ${GB_VERDIR} already exists."
	exit 1
fi

################################################################################
# Maybe we have rsync, maybe we don't.
mkdir -p "${GB_VERDIR}"
mkdir -p "${GB_VERDIR}/logs"

RSYNC="$(which rsync)"
if [ "${RSYNC}" != "" ]
then
	rsync -HvaxP TEMPLATE/version/ "${GB_VERDIR}/" >/dev/null
else
	tar cf - -C TEMPLATE/version . | tar xvf - -C "${GB_VERDIR}"
fi

################################################################################
TMPLDIRS="$(find ${GB_VERDIR}/ -name '*JSON_NAME*')"
for dir in ${TMPLDIRS}
do
	NEWDIR="$(echo -n "${dir}" | sed 's/JSON_NAME/{{ $.Json.meta.name }}/')"
	mv -i "${dir}" "${NEWDIR}"
done

################################################################################
TMPLFILES="$(find ${GB_VERDIR}/ -name '*\.tmpl')"
for file in ${TMPLFILES}
do
	OUTFILE="$(echo -n "${file}" | sed 's/JSON_NAME/{{ $.Json.meta.name }}/')"
	if [ "${file}" != "${OUTFILE}" ]
	then
		mv -i "${file}" "${OUTFILE}"
	fi

	echo "Gearbox: Processing ${OUTFILE}"
	{{ $.Exec.Cmd }} scribe convert "{{ $.JsonFile.Dir }}/{{ $.JsonFile.Name }}" "${OUTFILE}"
done

# find ${GB_VERDIR}/rootfs/etc/gearbox/services -type f | xargs chmod 755
find ${GB_VERDIR}/ -name '*\.sh' | xargs chmod 755

{{ end }}
# END
